@CHARSET "UTF-8";
/*Gyeongi Chungnen Font*/
@font-face {
	font-family: "Batang_Bold";
	src: local(※), url(../fonts/Gyeongi/Batang_Bold.woff) format('woff')
}

@font-face {
	font-family: "Batang_Regular";
	src: local(※), url(../fonts/Gyeongi/Batang_Regular.woff) format('woff')
}

@font-face {
	font-family: "Title_Bold";
	src: local(※), url(../fonts/Gyeongi/Title_Bold.woff) format('woff')
}

@font-face {
	font-family: "Title_Light";
	src: local(※), url(../fonts/Gyeongi/Title_Light.woff) format('woff')
}

@font-face {
	font-family: "Title_Medium";
	src: local(※), url(../fonts/Gyeongi/Title_Medium.woff) format('woff')
}

@font-face {
	font-family: "TitleV";
	src: local(※), url(../fonts/Gyeongi/TitleV.woff) format('woff')
}

/* /Gyeongi Chungnen Font*/

span{
	font-family: Title_Medium;
}

button {
    outline: none;
}
button .sidebar-btn {
    color: #fff;
    font-weight: bold;
}
.sidebar {
    background-color: #f6f7f8;
    width: 320px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -320px;
    z-index: 9999;
}
.sidebar > .sidebar-content {
    position: absolute;
    top: 20px;
    left: 90px;
    color: #fff;
}
.sidebar button {
    background-color: #222;
    display: block;
    position: absolute;
    /* top: 117px; */
    left: 320px;
    width: 70px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    margin: 0;
    padding: 0;
    border: none;
}