@CHARSET "UTF-8";

/*SCROLL BAR STYLE  */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #ed8151;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
/*SCROLL BAR STYLE  */
#frame {
	width: 100%;
	height: 100%;
	margin: 0px;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

.header_nav {
	width: 100%;
	height: 50px;
	background-color: #333;
	display: inline-flex;
}

/*이미지중앙정렬 text-align */
#mainlogowrap {
	width: 76.8px;
	height: 50px;
	text-align: center;
	background-color: white;
	line-height: 50px;
}

#projectnamewrap {
	width: 100px;
	background-color: #ed8151;
	text-align: center;
}

/*line-height : element 요소의 세로크기만큼 지정해주면 세로로 중앙정렬이됨  */
#projectname {
	color: white;
	font-size: 20px;
	line-height: 50px;
	text-decoration: none;
}

#wrapper {
	width: 100%;
	height: calc(100% - 100px);
}

#sidebar {
	background-color: white;
	width: 50px;
	height: 100%;
	float: left;
}

.h-describe, .h-task, .h-user, .h-board, .h-settings, .h-logout {
	width: 100%;
	height: 70px;
	background-color: white;
	text-align: center;
	line-height: 70px;
	cursor: pointer;
}

#describe, #task, #user, #board, #settings, #logout {
	width: 25px;
	height: 25px;
}

#contentwrap {
	width: calc(100% - 50px);
	height: 100%;
	float: left;
	overflow: auto;
}

#project_wrap {
	padding: 20px;
	width: 100%;
	height: 100%;
}

.project_list_wrap {
	width: 100%;
	height: 50%;
	display: contents;
}

.project_listdiv_wrap {
	width: 100%;
	height: 300px;
	display: -webkit-box;
}

.project_list {
	margin-right: 10px;
	width: 350px;
	height: 250px;
	cursor: pointer;
	box-shadow: 4px 4px 7px grey
}

.project_list_content_wrap {
	background-color: white;
	width: 100%;
	height: 100%;
}

.project_list_content_header {
	width: 100%;
	height: 50px;
	background-color: orange;
}

.project_list_content_header_left {
	width: 300px;
	height: 100%;
	background-color: red;
	float: left;
}

.project_list_content_header_right {
	width: 50px;
	height: 100%;
	background-color: grey;
	float: right;
}

.project_list_content_bottom {
	width: 100%;
	height: 200px;
	background-color: green;
}

.project_list_subtitle {
	width: 100%;
	background-color: white;
	height: 50px;
	overflow: auto;
}

.project_list_start {
	width: 100%;
	height: 50px;
	background-color: orange;
}

.project_list_end {
	width: 100%;
	height: 50px;
	background-color: grey;
}

.project_list_position {
	width: 100%;
	height: 50px;
	background-color: aqua;
}

#footer {
	width: 100%;
	height: 50px;
	background-color: black;
}